html,
body {
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

.clear:after {
	display: block;
	clear: both;
	content: "";
	height: 0;
	overflow: hidden;
}

.yichang {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
}

.yichang img {
	width: 100%;
	height: auto;
}

.yichang-return {
	width: 4.6rem;
	height: .92rem;
	position: absolute;
	left: 1.44rem;
	top: 4.9rem;
}

.subject-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.subject-container>img {
	float: left;
	width: 100%;
}

.subject-content,
.right-anwer-content,
.wrong-anwer-content {
	width: 4.64rem;
	position: absolute;
	top: .7rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.integral-subject {
	height: 1.8rem;
	font-size: .4rem;
	line-height: 1.5;
	color: #FFFFFF;
	overflow: hidden;
}

.integral-anwer-fixed {
	height: 3.3rem;
	overflow: hidden;
	position: relative;
}

.integral-anwer-content {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.integral-anwer {
	width: 3.7rem;
	height: .86rem;
	margin: .24rem auto 0;
	padding: 0 .2rem 0 .7rem;
	background: url("../img/question/answer_bg.png") left top no-repeat;
	background-size: 100%;
	font-size: .32rem;
	line-height: .86rem;
	color: #88959d;
	position: relative;
}

.integral-anwer:before {
	width: 10px;
	height: 10px;
	position: absolute;
	left: .3rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	content: "";
	background-image: url(../img/question/no_select.png);
	background-size: 10px 10px;
	background-position: top left;
	background-repeat: no-repeat;
}

.integral-anwer.changeColor {
	color: #e8f8ff;
}

.integral-anwer.changeColor:before {
	background-image: url(../img/question/yes_select.png);
}

.integral-submit,
.right-return,
.wrong-return {
	width: 4.56rem;
	margin: .18rem auto 0;
	background: #27333b;
	border-radius: .2rem;
	font-size: .4rem;
	line-height: .92rem;
	color: #e8f8ff;
	text-align: center;
}

.user-hander {
	width: 1.26rem;
	height: 1.26rem;
	margin: .6rem auto .62rem;
	border-radius: 1.26rem;
	overflow: hidden;
}

.user-hander img {
	float: left;
	width: 100%;
}

.anwer-right {
	width: 2.04rem;
	height: .5rem;
	margin: 0 auto;
	background: url("../img/question/answer_right.png") left top no-repeat;
	background-size: 100%;
}

.right-anwer-tomorrow {
	width: 1.7rem;
	height: .38rem;
	margin: .24rem auto .38rem;
	background: url("../img/question/tomorrow.png") left top no-repeat;
	background-size: 100%;
}

.reward-right {
	width: 2.38rem;
	height: .48rem;
	margin: 0 auto .36rem;
	background: url("../img/question/reward_right.png") left top no-repeat;
	background-size: 100%;
}

.anwer-wrong {
	width: 2.04rem;
	height: .5rem;
	margin: 0 auto;
	background: url("../img/question/answer_wrong.png") left top no-repeat;
	background-size: 100%;
}

.wrong-anwer-tomorrow {
	width: 100%;
	height: .28rem;
	margin: .32rem auto .38rem;
	text-align: center;
	font-size: .28rem;
	line-height: 1;
	color: #c6d9e3;
}

.reward-wrong {
	width: 4.62rem;
	height: .48rem;
	margin: 0 auto .36rem;
	background: url("../img/question/reward_wrong.png") left top no-repeat;
	background-size: 100%;
}