.clear:after {
	display: block;
	overflow: hidden;
	clear: both;
	content: '';
	height: 0
}

.clear {
	zoom: 1
}

.fl {
	float: left
}

.fr {
	float: right
}

img.bg {
	width: 100%;
	height: 100%
}

.show {
	display: block
}

.hide {
	display: none
}

.abnormal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #FFFFFF;
	z-index: 100;
	overflow: hidden
}

.abnormal img {
	width: 100%
}

.abnormal-refresh {
	width: 1.8rem;
	height: 0.76rem;
	position: absolute;
	left: 50%;
	top: 7.3rem;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%)
}