html {
	background: #f5f5f9;
}

.fund-type-list {
	position: absolute;
	left: 0;
	top: 0;
	width: 92%;
	padding: 0 4%;
	margin-bottom: .2rem;
	background: #FFFFFF;
	z-index: 10;
}

.fund-type {
	width: 25%;
	padding: .3rem 0;
	font-size: .3rem;
	line-height: .5rem;
	height: .5rem;
	text-align: center;
	color: #2e2e2e;
}

.fund-title {
	display: inline-block;
	padding: 0 .06rem;
	font-size: .3rem;
	line-height: .48rem;
	text-align: center;
	border-bottom: .03rem solid #fff;
	color: #2e2e2e;
}

.fund-title.changeColor {
	color: #108ee9;
	border-bottom: .03rem solid #108EE9;
}

.fund-detail {
	position: absolute;
	left: 0;
	top: 1.33rem;
	right: 0;
	bottom: .44rem;
	width: 100%;
	background: #FFFFFF;
}

.fund-catalog {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	background: #FFFFFF;
}

.fund-catalog.border-bottom:before {
	border-bottom: 1px solid #e8e8e8;
}

.fund-numerical-value {
	padding: .1rem 0;
	text-align: center;
}

.fund-name {
	margin: 0 .3rem;
	font-size: .28rem;
	line-height: .62rem;
	color: #808080;
}

.fund-valuation,
.fund-netValue {
	margin: 0 .3rem;
}

.fund-valuation-value,
.fund-netValue-value {
	font-size: .28rem;
	line-height: .48rem;
	color: #808080;
}

.fund-valuation-date,
.fund-netValue-date {
	font-size: .2rem;
	line-height: 1;
	color: #999;
}

.fund-list-container-parent {
	position: absolute;
	left: 0;
	top: .88rem;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background: #fff;
}

.fund-list-container-parent::-webkit-scrollbar {
	width: 0;
	height: 0;
	display: none;
}

.fund-iscroll {
	position: absolute;
	left: .3rem;
	top: 0;
	right: .3rem;
	bottom: 0;
	overflow: hidden;
}

.fund-list-container {
	box-sizing: border-box;
	padding: 0 .3rem;
}

.fund-detail-catalog {
	width: 3rem;
	padding: .24rem 0 .42rem;
}

.fund-detail-name {
	font-size: .26rem;
	line-height: .36rem;
	color: #2E2E2E;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fund-detail-code {
	font-size: .2rem;
	line-height: .32rem;
	color: #808080;
}

.fund-detail-valuation,
.fund-detail-netValue {
	width: 1.12rem;
	margin-left: .6rem;
	padding: .12rem 0 0;
	text-align: center;
	color: #2E2E2E;
}

.fund-detail-valuation-num,
.fund-detail-netValue-num {
	font-size: .28rem;
	font-weight: 400;
	line-height: 1;
	margin: .2rem 0 0;
}

.fund-detail-valuation-increase,
.fund-detail-netValue-increase {
	font-size: .28rem;
	line-height: 1;
	margin: .1rem 0;
	font-weight: 500;
}

.fund-detail-netValue-date {
	font-size: .2rem;
	line-height: 1;
	color: #999;
}

.fund-list-detail.border-bottom:before {
	border-bottom: 1px solid #e8e8e8;
}

.refresh {
	width: .9rem;
	height: .9rem;
	position: fixed;
	right: .28rem;
	bottom: .98rem;
	z-index: 1;
}

.reference-resources {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: .2rem;
	line-height: .44rem;
	text-align: center;
	color: #a8a8a8;
	background: #F5F5F9;
}

.update-time {
	position: fixed;
	left: 0;
	bottom: .44rem;
	width: 100%;
	font-size: .2rem;
	line-height: .44rem;
	text-align: center;
	color: #F4333C;
	background: #fff9e6;
	display: none;
	z-index: 50;
}

.toast {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0);
	display: none;
}

.toast div {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: .3rem;
	line-height: 2;
	white-space: nowrap;
	padding: 0 .3rem;
	text-align: center;
	background: #333;
	border-radius: .08rem;
	transform: translate(-50%, -50%);
	color: #fff;
}